.odd {
    background-color: #efa4d6;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}
#n2 {
    color: #79b0d9;
    font-size: 36px;
}
#n4 {
    background-color: #abcdab;
    font-size: 24px;
    font-weight: bold;
}