.header  {
  font-family: monospace;
  background: papayawhip;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}


/* changed stuff below */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px; /* adds 8px of padding all around so you don't need to worry about individual spacings */
} 
ul {
  display: flex;
  gap: 8px;
  /* the stuff below removes any 
  interfering default styles from the ul bruh */
  margin: 0;
  padding: 0;
}